header {
    background-color: #016B83;
    color: #fff;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.4rem 1rem;
}

.logo h1 {
    margin: 0;
    font-size: 1.5em; /* Taille de la police du logo */
    font-family: 'ArchivoBlack';
}

.logo {
    cursor: pointer;
    display: flex;
}

.add-button button {
    background-color: #4CAF50; /* Couleur du bouton + */
    color: white; /* Couleur du texte du bouton + */
    padding: 10px 20px; /* Espacement intérieur du bouton + */
    border: none; /* Supprimez la bordure */
    border-radius: 5px; /* Ajoutez des coins arrondis au bouton + */
    cursor: pointer;
    font-size: 1em; /* Taille de la police du bouton + */
}

.add-button button:hover {
    background-color: #45a049; /* Couleur de survol du bouton + */
}


/* TODO: retirer la croix quand le slide est sorti + ajout de JS quand on clique or slide pour fermer') */
.burger {
    display: none; /* Hidden by default */
    cursor: pointer;
    padding-top: 5px;
}

.burger .line1, .burger .line2, .burger .line3 {
    width: 30px;
    height: 0.2rem;
    background-color: white;
    margin: 5px;
    transition: all 0.3s ease;
}

/* Transformations pour l'animation du burger en croix */
.burger.active .line1 {
    transform: rotate(-45deg) translate(-5px, 6px);
}
.burger.active .line2 {
    opacity: 0;
}
.burger.active .line3 {
    transform: rotate(45deg) translate(-5px, -6px);
}


@media (max-width: 768px) {
   .burger {
       display: block; /* Show the burger button */
   }
}
