.questions-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card {
    background-color: #FFFFFF;
    border-radius: 1rem;
    box-shadow: 0 0.4rem 0.8rem 0 rgba(0,0,0,0.2);
    width: 80%;
    margin: 1rem auto; /* Adjusted margin for consistency */
    transition: transform 0.3s ease, box-shadow 0.3s ease; /* Smooth transitions for hover effects */
}

/* Card Header Styles */
.card-header {
    background-color: #016B83;
    color: white;
    padding: 1.5rem;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    font-family: 'ArchivoBlack';
    font-size: 1.5rem; 
    /* font-weight: bold; */
}

/* Card Body Styles */
.card-body {
    padding: 1.5rem;
    font-size: 1.2rem; /* Adjusted font size for better readability */

    line-height: 1.6;
    color: #333;
}

/* Date Styles */
.card-body .text-muted {
    color: #6c757d;
    font-style: italic;
    margin-top: 1rem;
}

/* Hover Effect for Cards */
.card:hover {
    transform: translateY(-0.5rem); /* Subtle lift effect */
    box-shadow: 0 0.8rem 1.6rem 0 rgba(0,0,0,0.2);
}

/* Sidebar Styles */
.sidebar {
    width: 20%;
    background-color: #F2F8F4; 
    /* background-color: #112331;  */
    
    color: #112331;
    padding: 2rem;
    height: 100vh;
    overflow-y: auto;
    position: fixed;
    top: 0; /* Align the sidebar to the top */
    left: 0; /* Align the sidebar to the left */
    transition: width 0.3s ease; /* Smooth transition for sidebar width */
}

.sidebar .niveau * {
    color: #112331;
}

/* Level Titles Style */
.sidebar .niveau h3 {
    cursor: pointer; /* Change mouse cursor on hover */
    /* color: #f8f9fa; */
    color: #112331;
    font-size: 2rem;
    font-weight: 400;
    padding: 1rem 0;
    border-bottom: 0.1rem solid #112331;
    margin: 0;
}
.sidebar .niveau:first-child {
    margin-top: 1rem;
}

/* Class List Style */
.sidebar .niveau ul {
    /* list-style-type: none; */
    list-style-type: none;
    padding: 0;
    margin: 0;
    cursor: pointer;
    font-size: 1.3rem;
    font-weight: 400;
    transition: max-height 0.3s ease; /* Smooth transition for the max-height */
}

/* Link Styles */
.sidebar .niveau ul li a {
    text-decoration: none;
    /* color: #f8f9fa; */
    display: block;
    padding: 0.5rem 1rem;
    border-radius: 0.4rem;
    transition: all 0.3s ease; /* Uniform transition for all properties */
}

/* Hover Style for Links */
.sidebar .niveau ul li a:hover {
    background-color: #112331;
    color: white;
}


/* Adjustments for Larger Screens */
@media (min-width: 768px) {
    .sidebar {
        max-width: 20rem; 
    }

    .questions-container {
        margin-left: 25%; /* Adjust width as sidebar */
    }
   
}

@media (max-width: 768px) {
     /* Cache la sidebar par défaut en mode mobile */
     .sidebar {
        width: 0;
        padding: 0;
        overflow-x: hidden; /* Ensure no horizontal scroll */
        transition: width 0.3s ease; /* Smooth transition for sidebar */
    }

    .sidebar.active {
        width: 50%; /* Adjust sidebar width to display */
        padding: 2rem;
    }

    .card {
        width: 100%;
    }
}




.groupe_date, .groupe_cours {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.groupe_cours {
    margin-left: 6rem;
}

.groupe {
    display: flex;
}