<header>
    <div class="header-container">
        <div class="logo">
            <div class="burger">
                <div class="line1"></div>
                <div class="line2"></div>
                <div class="line3"></div>
            </div>
            <h1 id="header_logo">Le Cahier</h1>
        </div>
    
        
        <div class="add-button" id="header_add-question">
            <button>+</button>
        </div>
    </div>
</header>
