<header>
    <div class="header-container">
        <div class="logo" id="header_logo">
            <h1>Le Cahier</h1>
        </div>
        
        <div class="add-button" id="header_add-question">
            <button>+</button>
        </div>
    </div>
</header>
